In [9]:
# Dependencies and Setup
# render the figure in a notebook instead of displaying a dump of the figure object.
%matplotlib inline  
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

#mouse data : Mouse ID	Drug
mouseData_df= pd.read_csv("data/mouse_drug_data.csv")
#trial data: Mouse ID	Timepoint	Tumor Volume (mm3)	Metastatic Sites
trialData_df= pd.read_csv("data/clinicaltrial_data.csv")

In [38]:
allData_df=pd.merge(mouseData_df,trialData_df, on=["Mouse ID","Mouse ID"])
allData_df.head(3)

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0

In [39]:
#mean Tumor volume data by drug and timepoint
allData_df.set_index(['Drug', 'Timepoint'])
gdata.head()
#gdata= allData_df.groupby(['Drug', 'Timepoint'])
#gdata_df= pd.DataFrame({"Drug":gdata["Drug"], "Timepoint":gdata["Timepoint"], "Tumor Vol":gdata["Tumor Volume (mm3)"].mean()})
#gdata_df= pd.DataFrame( {"Tumor Vol":gdata["Tumor Volume (mm3)"].mean()})
#gdata_df.head()

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        f234  Stelasyn          0           45.000000                 0
1        f234  Stelasyn          5           47.313491                 0
2        f234  Stelasyn         10           47.904324                 0
3        f234  Stelasyn         15           48.735197                 1
4        f234  Stelasyn         20           51.112713                 2
5        f234  Stelasyn         25           52.178602                 2
6        f234  Stelasyn         30           56.873817                 2
7        f234  Stelasyn         35           57.748758                 2
8        x402  Stelasyn          0           45.000000                 0
9        x402  Stelasyn          5           46.327570                 1
10       x402  Stelasyn         10           46.886962                 1
11       x402  Stelasyn         15           49.119948                 1
12       x402  Stelasyn         20           50.414750                 2
13       x402  Stelasyn         25           52.431737                 2
14       x402  Stelasyn         30           54.351585                 3
15       x402  Stelasyn         35           55.240962                 3
16       x402  Stelasyn         40           56.691723                 3
17       x402  Stelasyn         45           61.619606                 3
18       a492  Stelasyn          0           45.000000                 0
19       a492  Stelasyn          5           46.409143                 0
20       a492  Stelasyn         10           48.432197                 0
21       a492  Stelasyn         15           51.985263                 0
22       a492  Stelasyn         20           53.677193                 0
23       a492  Stelasyn         25           54.701229                 1
24       a492  Stelasyn         30           56.201041                 1
25       a492  Stelasyn         35           57.308554                 1
26       a492  Stelasyn         40           57.928499                 1
27       a492  Stelasyn         45           60.122011                 1
28       w540  Stelasyn          0           45.000000                 0
29       w540  Stelasyn          5           45.885370                 1
...       ...       ...        ...                 ...               ...
1745     i477   Placebo          0           45.000000                 0
1746     i477   Placebo          5           46.657385                 0
1747     i477   Placebo         10           47.520632                 0
1748     o302   Placebo          0           45.000000                 0
1749     o302   Placebo          5           48.937012                 0
1750     o302   Placebo         10           49.701450                 0
1751     o302   Placebo         15           51.381489                 0
1752     o302   Placebo         20           56.177611                 0
1753     o302   Placebo         25           60.517103                 0
1754     o302   Placebo         30           62.030594                 1
1755     t718   Placebo          0           45.000000                 0
1756     t718   Placebo          5           45.921253                 1
1757     t718   Placebo         10           46.392688                 1
1758     t718   Placebo         15           48.085126                 1
1759     t718   Placebo         20           52.636700                 2
1760     t718   Placebo         25           55.876588                 3
1761     t718   Placebo         30           57.704114                 3
1762     t718   Placebo         35           60.463899                 3
1763     t718   Placebo         40           61.530399                 3
1764     t718   Placebo         45           63.423695                 4
1768     w167   Placebo         15           53.900489                 0
1769     w167   Placebo         20           57.548157                 0
1770     w167   Placebo         25           61.868577                 0
1771     w167   Placebo         30           67.197872                 0
1772     w167   Placebo         35           68.134288                 0
1780     x773   Placebo         35           55.192736                 4
1781     x773   Placebo         40           55.987676                 4
1782     x773   Placebo         45           58.634971                 4
1802     y478   Placebo         40           65.971120                 1
1803     y478   Placebo         45           66.842635                 1

[500 rows x 5 columns]

In [30]:
tgdata_df= gdata_df.transpose()
tgdata_df.head(12)

Timepoint        0                                                         \
Drug      Capomulin Ceftamin Infubinol Ketapril Naftisol Placebo Propriva
Tumor Vol      45.0     45.0      45.0     45.0     45.0    45.0     45.0

Timepoint                                ...             45             \
Drug      Ramicane Stelasyn Zoniferol    ...      Capomulin   Ceftamin
Tumor Vol     45.0     45.0      45.0    ...      36.236114  64.132421

Timepoint                                                                    \
Drug       Infubinol   Ketapril   Naftisol    Placebo   Propriva   Ramicane
Tumor Vol  65.755562  70.662958  69.265506  68.084082  66.258529  34.955595

Timepoint
Drug       Stelasyn  Zoniferol
Tumor Vol  68.43831  65.960888

[1 rows x 100 columns]